<%= stylesheet_link_tag "home"%>

<!-- fixme -->
<% content_for :breadcrumb do %>
  <li><%= link_to "Список проектов", projects_path %><span class="divider">></span></li>
  <li class="active"><%= link_to @project.name, project_pages_path(@project.id) %></li>
<% end %>

<h3><%= @project.name %></h3>
<h2>Список страниц проекта</h2>
<ul class="projects">
  <% if not @pages.present? %>
      <div class="empty">Нет страниц</div>
  <% end %>
      
  <% @pages.each do |page| %>
      <li>
        <%= link_to "", edit_project_page_path(@project.id, page.id), :class => "btn-edit" %>
        <%= link_to "", project_page_path(@project.id, page.id), :confirm => "Are you sure?", :method => :delete, :class => "btn-delete" %>
        <%= link_to page.name, project_page_designer_tools_path(@project.id, page.id) %>  
        <div class="description"><%= page.description %></div>
      </li>
  <% end %>

  <li><%= link_to "Добавить страницу", new_project_page_path %></li>    
</ul>