#content.container
  #header.row-fluid
    .span4 
      = image_tag "main/logo.png"
    .span4
      Molockup – это быстрый и удобный онлайн-инструмент для создания интерактивных прототипов пользовательских интерфейсов.
    .span4  
      =image_tag "main/ru.png"
      %script{:charset => "utf-8", :src => "//yandex.st/share/share.js", :type => "text/javascript"}
      .yashare-auto-init{"data-yashareL10n" => "ru", "data-yashareQuickServices" => "yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj,friendfeed,moikrug,gplus", "data-yashareType" => "none"}
  #registration.row-fluid
    #days_to_start.span2
      .number 45
      .day_word ДНЕЙ
      .to_start ДО СТАРТА
    #reg_all.span10
      #reg_title.row-fluid
        Зарегистрируйся до 1 сентября 2012 года и получи 
        = link_to "2 месяца бесплатного" 
        доступа!
      #reg_inputs.row-fluid
        .span4
          = label_tag :email, "Email:"
          = text_field_tag :email
        .span4    
          = label_tag :password, "Пароль"
          = text_field_tag :password
        #button_reg.span4
          = link_to {image_tag "main/vk.png"}
          = link_to {image_tag "main/facebook.png"}
          = link_to {image_tag "main/twitter.png"}
          %button.btn.btn-small.btn-warning{:type => "button"} Регистрация
  #text_and_vote.row-fluid
    #text_left.span6
      %p MolockUp&trade; - это быстрый и удобный инструмент для создания интерактивных прототипов пользовательских интерфейсов, который позволит Вашей команде повысить эффективность разработки программного обеспечения.
      
      %p Релиз бета-версии системы состоится 1 сентября 2012 года, но уже сейчас Вы можете зарегистрироваться и получить бесплатный доступ для одного пользователя на первые два месяца использования.
    #text_right.span6
      %p.poll_1_title Проголосуйте за удобный для Вас тарифный план, и мы учтём Ваше мнение:
      %p
      - @prices.each do |price|
        %label{class: 'radio', for: "price_#{price[0]}"}
          = radio_button_tag :price, price[0]
          = price[1]
      #button_vote1
        %button.btn.btn-small.btn-primary{:type => "button"} Голосовать
  #monitor
    #users_count
      .words Нас уже  
      .number 104     
  #aaa.row-fluid
    Изучите 
    = link_to "возможности системы", "#go_to"
   

    или поделитесь Вашими 
    = link_to "предложениями", "#your_mine"
    !
  #three_icon.row-fluid
    #first_picture.span4
      .centered_image
        = image_tag "main/first_icon.png"
      %p Разрабатывайте высококачественные интерактивные макеты пользовательских интерфейсов.
    #second_picture.span4
      .centered_image
        = image_tag "main/second_icon.png"
      %p Используйте функцию автоматического наполнения страниц контентом для быстрого и удобного проектирования макетов.
    #thierd_picture.span4
      .centered_image
        = image_tag "main/thierd_icon.png"
      %p Создавайте собственные уникальные элементы и библиотеки онлайн.
  #six_icon
    .row-fluid.title
      %h2#go_to 
        Возможности MolockUp&trade;
    .row-fluid
      .span6
        .features-item
          %b Автоматическое наполнение контентом
          %p Придавайте макетам завершенный вид с помощью автоматического заполнения страниц соответствующим контентом.
        .features-item
          %b Неограниченное количество страниц
          %p Создавайте и связывайте между собой неограниченное количество страниц.
        .features-item
          %b Рецензирование макетов
          %p Взаимодействуйте с участниками проекта и заказчиком в процессе рецензирования макетов.
      .span6
        .features-item
          %b Неограниченный выбор элементов
          %p Используйте элементы встроенной библиотеки и создавайте свои собственные.
        .features-item
          %b Интерактивная карта сайта
          %p Отслеживайте все связи между страницами на интерактивной схеме проектируемого макета.
        .features-item
          %b Контроль версий проектов
          %p Контролируйте внесение изменений при работе с проектом и рецензировании.
  #your_mine.row-fluid 
    .span8
      #horn.row-fluid
        .span2
          = image_tag "main/dudka.png"
        #mine_title.span10  
          %h2 Ваше мнение
      %p Расскажите, что Вам не нравится в системах, которые Вы используете сейчас, или поделитесь Вашими пожеланиями и предложениями:
      #left_path
        #frame
          = text_area_tag 'post'
        %button.btn.btn-small.btn-primary{:type => "button"} Добавить комментарий
        
        - @comments.each do |comment|
          #comment{class: "#{cycle('odd', 'even')}"}
            .row-fluid
              #comment_user.span9
                = comment[:user]
              #comment_time.span3
                = comment[:created_at].strftime("%B, %e %Y  %H:%M")          
            #string.row-fluid
              #comment_body.span10
                %p 
                = comment[:body]
              .span2
                #rating
                  - rating = comment[:rating]
                  - if rating > 0
                    %span.green 
                      = rating
                  - elsif rating < 0
                    %span.red
                      = rating
                  - else
                    = rating

                  = link_to {image_tag "main/minus.png"}
                  = link_to {image_tag "main/plus.png"}
                #apply
                  = link_to "ответить"

     
     
    #right_path.span4
      .row-fluid
        .span3
          = image_tag "main/icon_round1.png"
        .span9
          Какой инструмент проектирования Вы используете?
      #instruments
        %p
        - @instrument.each do |instrument|
          %label{class: 'radio', for: "instrument_#{instrument}"}
            = radio_button_tag :instrument, instrument
            = instrument.humanize
        %p
        %button.btn.btn-small.btn-primary{:type => "button"} Голосовать
  #footer.row-fluid
    .span8
      %b &copy MolockUp, 2012
      %p Информация, размещенная на настоящем сайте, является интелектуальной собственностью компании Гамма Тур и размещается на сайте исключительно с целью ознакомления.
    .span4
      .prime_logo
        .made_in сделано в
        = image_tag "main/lable_footer.png"
        



