#content.container
  #header.row-fluid
    .span4 
      = image_tag "main/logo.png"
    .span4
      = t '.header'
    .span4 
      #lang
        - if @language == "en"
          = link_to (image_tag "main/en.png"), "/locale?language=ru", :class => 'lang_ru'
        - else
          = link_to (image_tag "main/ru.png"), "/locale?language=en", :class => 'lang_en' 
      %script{:charset => "utf-8", :src => "//yandex.st/share/share.js", :type => "text/javascript"}
      .yashare-auto-init{"data-yashareL10n" => "ru", "data-yashareQuickServices" => "yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj,friendfeed,moikrug,gplus", "data-yashareType" => "none"}
  #registration.row-fluid
    #days_to_start.span2
      .number= @days_to_start
      .day_word 
        - if @language == "en"
          = 'day'.pluralize(@days_to_start).upcase
        - else 
          = Russian.p(@days_to_start, 'день', 'дня', 'дней').mb_chars.upcase
      .to_start= t '.to_go'
    #reg_all.span10
      #reg_title.row-fluid
        = t '.registration_title'
        /= link_to "2 месяца бесплатного" 
        /доступа!
      #reg_inputs.row-fluid
        .span4
          = label_tag :email, t('.email')
          = text_field_tag :email
        .span4    
          = label_tag :password, t('.password')
          = text_field_tag :password
        #button_reg.span4
          = link_to {image_tag "main/vk.png"}
          = link_to {image_tag "main/facebook.png"}
          = link_to {image_tag "main/twitter.png"}
          %button.btn.btn-small.btn-warning{:type => "button"} 
            = t '.registration_button' 
  #text_and_vote.row-fluid
    #text_left.span6
      %p
        = t '.description_first' 
      %p 
        = t '.description_second'
    #right_path.span6
      %p
        #right_path_title.darkblue 
          = t '.poll'
      #instruments
        %p
        - @instrument.each do |instrument|
          %label{class: 'radio', for: "instrument_#{instrument}"}
            = radio_button_tag :instrument, instrument
            = instrument.humanize
        %p
        %button.btn.btn-small.btn-primary{:type => "button"} 
          = t '.poll_button' 
  #monitor
    #users_count
      = t '.are_waiting' 
      %br
      %span.number= @users_count
  #aaa.row-fluid
    = t '.molockup_features'  
    / = link_to "возможности системы", "#go_to"
   

    / или поделитесь Вашими 
    / = link_to "предложениями", "#your_mine"
    / !
  #three_icon.row-fluid
    #first_picture.span4
      .centered_image
        = image_tag "main/first_icon.png"
      %p 
        = t '.high-quality' 
    #second_picture.span4
      .centered_image
        = image_tag "main/second_icon.png"
      %p 
        = t '.auto-fill' 
    #thierd_picture.span4
      .centered_image
        = image_tag "main/thierd_icon.png"
      %p 
        = t '.create_elements' 
  #six_icon
    .row-fluid.title
      %h2#go_to 
        = t '.main_features_html'
    .row-fluid
      .span6
        .features-item
          %b 
            = t '.left_path_title_first'
          %p 
            = t '.left_path_text_first'
        .features-item
          %b 
            = t '.left_path_title_second' 
          %p 
            = t '.left_path_text_second' 
        .features-item
          %b 
            = t '.left_path_title_thierd' 
          %p 
            = t '.left_path_text_thierd' 
      .span6
        .features-item
          %b 
            = t '.right_path_title_first' 
          %p 
            = t '.right_path_text_first'
        .features-item
          %b 
            = t '.right_path_title_second' 
          %p 
            = t '.right_path_text_second' 
        .features-item
          %b 
            = t '.right_path_title_thierd' 
          %p 
            = t '.right_path_text_thierd' 
  #your_mine.row-fluid 
    .span8
      #horn.row-fluid
        .span2
          = image_tag "main/dudka.png"
        #mine_title.span10  
          %h2 
            = t '.your_opinion'
      %p 
        = t '.tell_us' 
      #left_path
        #frame
          = text_area_tag 'post'
        %button.btn.btn-small.btn-primary{:type => "button"} 
          = t '.comment_button' 
        
        - @comments.each do |comment|
          #comment{class: "#{cycle('odd', 'even')}"}
            .row-fluid
              #comment_user.span9
                = comment[:user]
              #comment_time.span3
                = comment[:created_at].strftime("%B, %e %Y  %H:%M")          
            #string.row-fluid
              #comment_body.span10
                %p 
                = comment[:body]
              .span2
                #rating
                  - rating = comment[:rating]
                  - if rating > 0
                    %span.green 
                      = rating
                  - elsif rating < 0
                    %span.red
                      = rating
                  - else
                    = rating

                  = link_to {image_tag "main/minus.png"}
                  = link_to {image_tag "main/plus.png"}
                #apply
                  = link_to t('.reply')

     
     
    
  #footer.row-fluid
    .span8
      %b &copy MolockUp, 2012
      %p 
        = t '.footer_text' 
    .span4
      .prime_logo
        .made_in 
          = t '.made_by' 
        = image_tag "main/lable_footer.png"
        



