<!-- fixme -->
<% content_for :breadcrumb do %>
  <li> <%= link_to "Элементы", elements_path %> <span class="divider">></span></li>

  <li class="active">
    <% if @element.id? %>
      <%= link_to @element.label, edit_element_path(@element.id) %>
    <% else %>
      <%= link_to "Новая страница", new_element_path %>
    <% end %>
  </li>
<% end %>

<%= form_for @element, :html => {:class => "form-horizontal"} do |f| %>
<h3><%= @element.label %></h3>
  <fieldset>
    <legend>
      <% if not @element.id? %>
        Создание нового элемента
      <% else %>
        Редактирование элемента
      <% end %>
    </legend>

    <div class="control-group">
      <label class="control-label">Название элемента</label>
      <div class="controls">
        <%= f.text_field :label, :class => "input-xxlarge" %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Тег для отображения</label>
      <div class="controls">
        <%= f.text_field :tag, :class => "input-xxlarge" %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">html код элемента</label>
      <div class="controls">
        <%= f.text_area :html, :class => "input-xxlarge", :rows => "3"%>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">css</label>
      <div class="controls">
        <%= f.text_area :css, :class => "input-xxlarge", :rows => "5" %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">js</label>
      <div class="controls">
        <%= f.text_area :js, :class => "input-xxlarge", :rows => "5" %>
      </div>
    </div>
    <%= f.hidden_field :element_group_id, :value => @group_id %>
    <div class="form-actions">
      <%= f.submit %>
    </div>
  </fieldset>
<% end %>