<%= stylesheet_link_tag "developer_tools"%>
<%= stylesheet_link_tag "libs/codemirror/codemirror"%>
<%= stylesheet_link_tag "libs/codemirror/elegant"%>

<%= javascript_include_tag "libs/codemirror/codemirror"%>
<%= javascript_include_tag "libs/codemirror/xml"%>
<%= javascript_include_tag "libs/codemirror/css"%>
<%= javascript_include_tag "libs/codemirror/javascript"%>
<%= javascript_include_tag "libs/codemirror/htmlmixed"%>

<%= javascript_include_tag "developer_tools"%>

<% content_for :title do %>
  Программист
<% end %>

<% content_for :nav_elements do %>
  class="active"
<% end %>

<div id="navigation">
  <div>
    <div id="elements">
        <ul class="nav nav-list">
          <li class="nav-header">Some header</li>
          <li class="nav-info">All changes saved</li>
          <div id="element" class="well">
            <h6>Elements List<i class="icon-plus" title="Add page"></i></h6>
            <ul class="nav nav-list">
            </ul>
          </div>
        </ul>
    </div>
    <div id="params">
      <ul class="table-list">
        <li id="initial">
          <div>
            <i class="icon-chevron-down"></i>
            Initial
          </div>
          <table class="table table-condensed table-bordered"><tbody>
              <tr><td>width: </td><td> <input type="text" value ="200" class="input-mini input-condensed input-number" /> </td></tr>
              <tr><td>height: </td><td> <input type="text" value ="200" class="input-mini input-condensed input-number" /></td></tr>
              <tr class="initial-resizable"><td>resizable: </td><td><input type="checkbox" checked="checked" /></td></tr>
              <tr><td>&emsp;&emsp;x: </td><td><input type="checkbox" /></td></tr>
              <tr><td>&emsp;&emsp;y: </td><td><input type="checkbox" /></td></tr>
              <tr><td>editable: </td><td><input type="checkbox" /></td></tr>
          </tbody></table>
        </li>

        <li>
          <div>
            <i class="icon-chevron-down"></i>
            Parameters
            <i class="icon-plus"></i>
          </div>
          <table class="table table-bordered table-condensed"><tbody>
              <tr>
                <td>some</td>
                <td>some1</td>
              </tr>
              <tr>
                <td>some</td>
                <td>some1</td>
              </tr>
          </tbody></table>
        </li>

        <li>
          <div>
            <i class="icon-chevron-down"></i>
            Dependencies
            <i class="icon-plus"></i>
          </div>
          <table class="table table-bordered table-condensed"><tbody>
              <tr>
                <td>some</td>
                <td>some1</td>
              </tr>
              <tr>
                <td>some</td>
                <td>some1</td>
              </tr>
          </tbody></table>
        </li>

      </ul>
    </div>
  </div>
</div>

<div id="workspace" class="disabled">
  <div class="leftside">
      <div id="htmlcode">
        <div class="codetype">HTML</div>
        <textarea id="html"></textarea>
      </div>
      <div id="jscode">
        <div class="codetype">javaScript</div>
        <textarea id="js">js</textarea>
      </div>
  </div>
  <div class="rightside">
      <div id="csscode">
        <div class="codetype">css</div>
        <textarea id="css">css</textarea>
      </div>
      <div id="resultcode">
        <div class="codetype">Refresh</div>
        <div id="result">result</div>
      </div>
  </div>
</div>

  <script type="text/template" id="element-item-template">
      <li id="el{{ id }}">
        <a href="#{{ id }}"> {{ name }}
          <span style="display: none;">
            <i class="icon-trash" title="Remove page"></i>
            <i class="icon-pencil" title="Edit page"></i>
          </span>
        </a>
      </li>
  </script>

      <div class="modal hide fade in" id="add-edit-dialog" style="display: none;">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h4></h4>
      </div>
      <div class="modal-body control-group">
        <label class="control-label" for="inputName">Label:</label>
        <input type="text" placeholder="Type name..." id="inputName"/>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn">Close</a>
        <a href="#" class="btn btn-primary">Save changes</a>
      </div>
    </div>

  <script type="text/javascript">
    Mock.data = {
        elements: <%=raw @elements %>
    }
  </script>
