<!-- fixme -->
<% content_for :breadcrumb do %>
  <li><%= link_to "Список проектов", projects_path %><span class="divider">></span></li>
  <li><%= link_to @project.name, project_pages_path(@project.id) %><span class="divider">></span></li>

  <li class="active">
    <% if @pages.id? %>
      <%= link_to @pages.name, edit_project_page_path(@project.id, @pages.id) %>
    <% else %>
      <%= link_to "Новая страница", new_project_page_path %>
    <% end %>
  </li>
<% end %>
  
<%= form_for [@project, @pages], :html => {:class => "form-horizontal"} do |f| %>
<h3><%= @project.name %></h3>
  <fieldset>
    <legend>
      <% if not @pages.id? %>
        Создание новой страницы проекта
      <% else %>
        Редактирование страницы
      <% end %>
    </legend>
    
    <div class="control-group">
      <label class="control-label">Название страницы</label>
      <div class="controls">
        <%= f.text_field :name, :class => "input-xxlarge" %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Описание</label>
      <div class="controls">
        <%= f.text_area :description, :class => "input-xxlarge" %>
      </div>
    </div>
    <%= f.hidden_field :project_id, :value => @project.id %>
    <div class="form-actions">
      <%= f.submit %>
    </div>
  </fieldset>
<% end %>