<% content_for :html_class do %>
designer
<% end %>

<% content_for :title do %>
    Проектировщик
<% end %>

<% content_for :navigation do %>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand">MolockUp</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active editreview"><a href="#edit">Edit</a></li>
                        <li class="editreview"><a href="#review">Review</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<%  end %>

<style type="text/css">
    <%=raw @css %>
</style>

<div id="navigation">
    <div>
        <div>
            <ul class="nav nav-list">
                <li class="nav-header"><%= link_to @project.name, project_pages_path(@project.id) %></li>
                <li class="nav-info">Все изменения сохранены</li>
                <div id="page" class="well">
                    <h6>Pages: <i class="icon-plus" title="Add page"></i></h6>
                    <ul class="nav nav-list">
                    </ul>
                </div>
            </ul>
        </div>
        <div id="groups">
            <ul class="nav nav-tabs">
                <% @groups.each do |group| %>
                    <li><a data-toggle="tab" href="#group<%= group.id %>"><%= group.label %></a></li>
                <% end  %>
            </ul>
        <div class="tab-content">
            <% @groups.each do |group| %>
                <div class="tab-pane" id="group<%= group.id %>">
                    <% @elements.each do |element| %>
                        <% if element.element_group_id == group.id %>
                            <div class="element" id="el<%= element.id %>"><span>
                            <%= image_tag ("elements/#{element.name}.png"), :title => element.description %>
                            </span></div>
                        <% end %>
                    <% end %>
                </div>
            <% end  %>
        </div>
        </div>
    </div>
</div>

<div id="workspace">

</div>

<div id="templates">
    <script type="text/template" id="block-template">
        <div class="block">
            <div class="content">
                {{ html }}
            </div>
        </div>
    </script>

    <script type="text/template" id="menu-item-template">
        <li><a title="{{ tooltip }}"><span class="menu-btn {{ menu_item }}"></span></a></li>
    </script>

    <script type="text/template" id="menu-divider-template">
        <li class="{{ divider }}"><a></a></li>
    </script>

    <script type="text/template" id="page-item-template">
        <li id="el{{ id }}">
            <a href="#{{ id }}"> {{ name }}
                <span style="display: none;">
                    <i class="icon-trash" title="Remove page"></i>
                    <i class="icon-pencil" title="Edit page"></i>
                </span>
            </a>
        </li>
    </script>

    <div class="modal hide fade in" id="add-edit-dialog" style="display: none;">
        <div class="modal-header">
            <button class="close" data-dismiss="modal">×</button>
            <h4></h4>
        </div>
        <div class="modal-body control-group">
            <label class="control-label" for="inputName">Name:</label>
            <input type="text" placeholder="Type name..." id="inputName"/>
        </div>
        <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn">Close</a>
            <a href="#" class="btn btn-primary">Save changes</a>
        </div>
    </div>

</div>

<script type="text/javascript">
    Mock.data = {
        elements: <%=raw @elements.to_json %>,
        pages: <%=raw @pages.to_json %>
    };
    $(function(){
        Mock.init.designer();
    })
</script>
