<% content_for :html_class do %>
designer
<% end %>

<% content_for :title do %>
    Проектировщик
<% end %>

<% content_for :navigation do %>
    <!-- -->
<%  end %>

<% @links['js'].each do |js| %>
    <script type="text/javascript" src="<%=raw js %>"></script>
<% end %>
<% @links['css'].each do |css| %>
    <link rel="stylesheet" type="text/css" href="<%=raw css %>">
<% end %>

<style type="text/css">
    <%=raw @css %>
</style>

<script type="text/javascript">
    Mock.F = {
        <% @elements.each do |element| %>
            <% if element.js != nil %>
                <%= element.id %>: function(parameters, data){
                    <%=raw element.js %>
                },
            <%end%>
        <%end%>
    }
</script>

<div id="navigation">
    <div>
        <div>
            <ul class="nav nav-list">
                <li class="nav-header"><%= link_to @project.name, project_pages_path(@project.id) %></li>
                <li class="nav-info">Все изменения сохранены</li>
                <div id="page" class="well">
                    <h6>Pages: <i class="icon-plus" title="Add page"></i></h6>
                    <ul class="nav nav-list">
                    </ul>
                </div>
            </ul>
        </div>
        <div id="groups">
            <ul class="nav nav-tabs">
                <% @groups.each do |group| %>
                    <li><a data-toggle="tab" href="#group<%= group.id %>"><%= group.label %></a></li>
                <% end  %>
            </ul>
        <div class="tab-content">
            <% @groups.each do |group| %>
                <div class="tab-pane" id="group<%= group.id %>">
                    <% @elements.each do |element| %>
                        <% if element.element_group_id == group.id %>
                            <div class="element" id="<%= element.id %>el"><span>
                              <img src="/assets/elements/<%= element.name %>.png" alt="<%= element.name %>" title="<%= element.description %>"/>
                            </span></div>
                        <% end %>
                    <% end %>
                </div>
            <% end  %>
        </div>
        </div>
    </div>
</div>

<div id="container">
  <div class="ruler ruler-top"></div>
  <div class="ruler ruler-left"></div>
  <div id="workspace" style="width:<%=raw @project.width %>px; height:<%=raw @project.height %>px;">
    <div class="guide guide-vertical" style="display:none;"></div>
    <div class="guide guide-horizontal" style="display:none;"></div>
  </div>
</div>

<div class="context_menu">
  <ul class="dropdown-menu" role="menu">
    <li data-menu="menu_copy">      <span class="icon"></span><a> <span>Ctrl+C</span> Copy </a> </li>
    <li data-menu="menu_paste">     <a> <span>Ctrl+V</span> Paste </a> </li>
    <li data-menu="menu_duplicate"> <a> <span>Ctrl+D</span> Duplicate </a> </li>
    <li data-menu="menu_remove">    <a> <span>Backspace</span> Delete something big, i mean really big!</a> </li>
    <li class="divider"></li>
    <li class="dropdown-submenu">
      <a href="#">Align</a>
      <ul class="dropdown-menu">
        <li data-menu="menu_align_bottom">  <a>Align bottom</a> </li>
        <li data-menu="menu_align_middle">  <a>Align middle</a> </li>
        <li data-menu="menu_align_top">     <a>Align top</a> </li>
        <li class="divider"></li>
        <li data-menu="menu_align_right">   <a>Align right</a> </li>
        <li data-menu="menu_align_center">  <a>Align center</a> </li>
        <li data-menu="menu_align_left">    <a>Align left</a> </li>
      </ul>
    </li>
  </ul>
</div>

<form id="props_panel" class="well">

  <h5>Size & Position</h5>
  <div class="props-initial">
    <div class="no-props" style="display: none;">Нет данных для отображения</div>
    <table><tbody>
    <tr>
      <td>x: </td>
      <td> <input type="text" class="input-condensed input-number" name="x" /> </td>
      <td>width: </td>
      <td> <input type="text" class="input-condensed input-number" name="w" /> </td>
    </tr><tr>
      <td>y: </td>
      <td> <input type="text" class="input-condensed input-number" name="y" /> </td>
      <td>height: </td>
      <td> <input type="text" class="input-condensed input-number" name="h" /> </td>
    </tr>
    </tbody></table>
  </div>

  <h5>Parameters</h5>
  <div class="props-params">
    <div class="no-props" style="display: none;">Нет данных для отображения</div>
    <table><tbody>
    </tbody></table>
  </div>
</form>

<div id="templates">
  <%= render "templates" %>
</div>

<script type="text/javascript">
    Mock.data = {
        elements: <%=raw @elements.to_json %>,
        pages: <%=raw @pages.to_json %>,
        project: <%=raw @project.to_json %>
    };
    $(function(){
        Mock.init.designer();
    });
</script>