<% content_for :html_class do %>
designer
<% end %>

<% content_for :title do %>
    Проектировщик
<% end %>

<% content_for :navigation do %>
    <!-- -->
<%  end %>

<% @links['js'].each do |js| %>
    <script type="text/javascript" src="<%=raw js %>"></script>
<% end %>
<% @links['css'].each do |css| %>
    <link rel="stylesheet" type="text/css" href="<%=raw css %>">
<% end %>

<style type="text/css">
    <%=raw @css %>
</style>

<script type="text/javascript">
    Mock.F = {
        <% @elements.each do |element| %>
            <% if element.js != nil %>
                <%= element.id %>: function(parameters, data){
                    <%=raw element.js %>
                },
            <%end%>
        <%end%>
    }
</script>

<div id="navigation">
    <div>
        <div>
            <ul class="nav nav-list">
                <li class="nav-header"><%= link_to @project.name, project_pages_path(@project.id) %></li>
                <li class="nav-info">Все изменения сохранены</li>
                <div id="page" class="well">
                    <h6>Pages: <i class="icon-plus" title="Add page"></i></h6>
                    <ul class="nav nav-list">
                    </ul>
                </div>
            </ul>
        </div>
        <div id="groups">
            <ul class="nav nav-tabs">
                <% @groups.each do |group| %>
                    <li><a data-toggle="tab" href="#group<%= group.id %>"><%= group.label %></a></li>
                <% end  %>
            </ul>
        <div class="tab-content">
            <% @groups.each do |group| %>
                <div class="tab-pane" id="group<%= group.id %>">
                    <% @elements.each do |element| %>
                        <% if element.element_group_id == group.id %>
                            <div class="element" id="el<%= element.id %>"><span>
                            <%= image_tag ("elements/#{element.name}.png"), :title => element.description %>
                            </span></div>
                        <% end %>
                    <% end %>
                </div>
            <% end  %>
        </div>
        </div>
    </div>
</div>

<div id="container">
  <div class="ruler ruler-top"></div>
  <div class="ruler ruler-left"></div>
  <div id="workspace" style="width:<%=raw @project.width %>px; height:<%=raw @project.height %>px;">
    <div class="guide guide-vertical" style="display:none;"></div>
    <div class="guide guide-horizontal" style="display:none;"></div>

  </div>
</div>

<form id="props_panel" class="well">

  <h5>Size & Position</h5>
  <div class="props-initial">
    <div class="no-props" style="display: none;">Нет данных для отображения</div>
    <table><tbody>
    <tr>
      <td>x: </td>
      <td> <input type="text" class="input-condensed input-number" name="x" /> </td>
      <td>width: </td>
      <td> <input type="text" class="input-condensed input-number" name="w" /> </td>
    </tr><tr>
      <td>y: </td>
      <td> <input type="text" class="input-condensed input-number" name="y" /> </td>
      <td>height: </td>
      <td> <input type="text" class="input-condensed input-number" name="h" /> </td>
    </tr>
    </tbody></table>
  </div>

  <h5>Parameters</h5>
  <div class="props-params">
    <div class="no-props" style="display: none;">Нет данных для отображения</div>
    <table><tbody>
    </tbody></table>
  </div>
</form>

<div id="templates">
  <%= render "templates" %>
</div>

<script type="text/javascript">
    Mock.data = {
        elements: <%=raw @elements.to_json %>,
        pages: <%=raw @pages.to_json %>,
        project: <%=raw @project.to_json %>
    };
    $(function(){
        Mock.init.designer();
    });
</script>