<!DOCTYPE html>
<html class="<%= content_for?(:html_class) ? yield(:html_class) : '' %>">
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Molockup" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag :rails %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand">MolockUp</a>
        <div class="nav-collapse">
          <ul class="nav">
            <% if content_for?(:navigation) %>
                <%=  yield(:navigation) %>
            <% else %>
            <li class="<%= home_active %>"> <a href="/">Home</a> </li>
            <li class="<%= projects_active %>">  <%= link_to "Список проектов", projects_path %> </li>
            <li class="<%= elements_active %>"><%= link_to "Элементы", elements_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <% if content_for?(:breadcrumb) %>
    <ul class="breadcrumb">
      <li><a href="/">Home</a> <span class="divider">></span></li>
    <%= content_for?(:breadcrumb) ? yield(:breadcrumb) : '' %>
  </ul>
  <% end  %>

<%= yield %>

</body>
</html>
